.search-result-card-container {
    border: 0px;
    border-right: solid 2px var(--color-primary-grey);
    height: 124px;
    width: 135px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

@media only screen and (max-width: 500px) {
    .search-result-card-container {
        border: 0px;
        height: 65px;
        width: 298px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }
}