@font-face {
    font-family: "Ferry";
    font-style: normal;
    font-weight: 900;
    src: local("Ferry"), url("./fonts/ferry_black.otf") format("opentype");
}

@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    src: local("Inter"), url("./fonts/Inter-Regular.otf") format("opentype");
}

@font-face {
    font-family: "Inter-Medium";
    font-style: normal;
    font-weight: 400;
    src: local("Inter-Medium"), url("./fonts/Inter-Medium.otf") format("opentype");
}