@import url('./colors.css');
@import url('./fonts.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter, Arial, sans-serif;
}

h1 {
    font-family: Ferry, Arial, sans-serif;
    font-size: 60px;
    text-transform: uppercase;
}

h2 {
    font-family: Ferry, Arial, sans-serif;
    font-size: 40px;
}

h3 {
    font-family: Inter-Medium, Arial, sans-serif;
}

p {
    font-family: Inter, Arial, sans-serif;
    font-size: 20px;
}
